{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <main>
        <h1>Home</h1>
        {% if app.user %}
            <h2>Hello !!!!</h2>
        {% endif %}
        {% if app.user %}
            <a href="/logout">Se déconnecter</a>
        {% else %}
            <a href="/login">Se connceter</a>
            <br>
            <a href="/register">S'inscrire</a>
        {% endif %}


        <br>
        <a href="/reset-password">Changer de mot de passe</a>
        <br>
        {% if is_granted("ROLE_ADMIN") %}
            <a href="/admin">Espace administrateur</a>
        {% endif %}

        {% if is_granted("ROLE_MODERATOR") %}
            <p>Je suis modérateur</p>
        {%  elseif is_granted("ROLE_ADMIN") %}
            <p>Je suis administrateur</p>
        {% elseif is_granted("ROLE_USER") %}
            <p>Je suis un utilisateur</p>
        {% endif %}
    </main>
{% endblock %}
